body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbeb28;
    background-image: url('chocolate.jpg');
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-image: url('pack2.avif');
    background-color: #cd930bfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #chocolate-list {
    margin-bottom: 20px;
  }
  
  #custom-pack {
    border-top: 2px solid #ccc;
    padding-top: 10px;
  }
  
  #selected-chocolates {
    list-style-type: none;
    padding: 0;
  }
  
  #selected-chocolates li {
    margin-bottom: 5px;
  }
  
  